.fs-main {
    font-family: "Walter Turncoat", cursive;
}

.google-auth {
    transition: 0.5s;
}

.google-auth:hover {
    background-color: #db4437;
    color: white;
}

.github-auth {
    transition: 0.5s;
}

.github-auth:hover {
    background-color: #2b3137;
    color: white;
}

.logout {
    transition: 0.3s;
}

.logout:hover {
    color: #ce0303;
}

.effect-img-home-writer {
    animation: img-writer 0.8s linear;
}

@keyframes img-writer {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .effect-img-home-writer {
        animation: none;
    }
}

.scroll {
    overflow: hidden;
}

.container-scroll {
    display: inline-flex;
    animation: scrollImage 10s;
    width: fit-content;
}

.container-scroll img {
    width: 300px;
    margin-left: 30px;
    border-radius: 20px;
    object-fit: cover;
}

@keyframes scrollImage {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.effect-careers-img {
    animation: effect-img-right 1s linear;
}

@keyframes effect-img-right {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.link-form-careers {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px;
    width: 200px;
    padding: 7px;
    position: fixed;
}

.title-article-index {
    animation: typing 2s steps(30);
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 6ch;
    }
}

footer {
    margin-top: 400px;
}
