.fs-main {
    font-family: "Walter Turncoat", cursive;
}

.main-navbar{
  position: fixed;
  width: 100%;
  z-index: 1;
  animation: navbar-scroll 1s ease-in-out; 
}

@keyframes navbar-scroll{
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(0);
    }
}

.form-container{
    width: 100px;
}

.input-search{
    border-radius: 0;
    padding: 15px;
}

.button-search{
    border-radius: 0;
}

.list-nav{
    margin-top: 0;
}

.google-auth {
    transition: 0.5s;
}

.google-auth:hover {
    background-color: #db4437;
    color: white;
}

.github-auth {
    transition: 0.5s;
}

.github-auth:hover {
    background-color: #2b3137;
    color: white;
}

.logout {
    transition: 0.3s;
}

.logout:hover {
    color: #ce0303;
}

.effect-img-home-writer {
    animation: img-writer 0.8s linear;
}

@keyframes img-writer {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@media (max-width: 900px) {
    .effect-img-home-writer {
        animation: none;
    }
}

.scroll {
    overflow: hidden;
}

.container-scroll {
    display: inline-flex;
    animation: scrollImage 10s;
    width: fit-content;
}

.container-scroll img {
    width: 300px;
    margin-left: 30px;
    border-radius: 20px;
    object-fit: cover;
}

@keyframes scrollImage {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

.effect-careers-img {
    animation: effect-img-right 1s linear;
}

@keyframes effect-img-right {
    from {
        transform: translateY(200px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.link-form-careers {
    display: flex;
    justify-content: center;
    box-shadow: 1px 1px 2px;
    width: 200px;
    padding: 7px;
    position: fixed;
}

.title-article-index {
    animation: typing 2s steps(100);
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0;
    }
    to {
        width: 6ch;
    }
}

.message-span {
    box-shadow: 1px 2px 4px 1px rgb(193, 193, 193);
    padding: 40px;
    font-size: large;
}

.email-verification-message{
    position: fixed;
    background-color: white;
    top: 80vh;
    left: 20px;
    box-shadow: 1px 2px 4px 1px rgb(193, 193, 193);
    padding: 40px;
    font-size: larger;
}

.auth-error-box {
    width: 400px;
    box-shadow: 1px 2px 4px 1px rgb(193, 193, 193);
    position: fixed;
    top: 50vh;
    left: 15px;
    background-color: white;
    z-index: 1;
    animation: auth-error-animation 0.5s ease-out;
}

@media (max-width: 768px) {
    .auth-error-box {
        position: static;
        margin-top: 20px;
        width: 300px;
        margin-inline-start: 20px;
    }
}

@keyframes auth-error-animation {
    from {
        transform: translateZ(-700px);
        opacity: 0;
    }
    to {
        transform: translateZ(0);
        opacity: 1;
    }
}

.effect-error-search {
    animation: effect-error-search 0.3s ease-out;
}

@keyframes effect-error-search {
    from {
        opacity: 0;
        transform: translateZ(-200px);
    }
    to {
        opacity: 1;
        transform: translateZ(0);
    }
}

footer {
    margin-top: 400px;
}
